<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dropdow n Form</title>
</head>
<body>
    <h1>Select a value:</h1>
    <form action="/result" method="post">
        <select name="selected_value">
            <option value=704>704</option>
            <option value=10>10</option>
            <!-- Add more options as needed -->
        </select>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
